# Flutter
build/
.dart_tool/
.packages
.pub/
.pub-cache/

# Firebase
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
